<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect all to home" stopProcessing="true">
                    <match url=".*" />
   		    <conditions>
              		<add input="{URL}" negate="true" pattern="style.css" />
			<add input="{URL}" negate="true" pattern="image.jpg" />
             	    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
